<confirm-modal title="Set Nickname" #modal (confirm)="userNameService.save()">
  <form class="form">
    <div class="form-group">
      <input type="text" [(ngModel)]="userNameService.userName" name="userName" class="form-control" placeholder="Nickname"/>
    </div>
  </form>
</confirm-modal>
<div class="container-fluid">
  <div class="row">
    <nav class="col-4 col-md-3 col-lg-2 sidebar">
      <div class="sidebar-sticky">
        <div class="pl-3">
          <h3 class="my-3">{{userNameService.userName}}</h3>
          <p class="channel-members">ROOMS</p>
        </div>
        <channel-tabs></channel-tabs>
        <div class="pl-3">
          <p class="channel-members my-3">MEMBERS</p>
          <channel-members></channel-members>
        </div>
      </div>
      <p class="text-center position-absolute fixed-bottom" >
        Brought to you by the <a href="https://get-reddie.com" target="_blank">Reddie</a> team.
      </p>
    </nav>
    <main role="main" class="col-9 col-lg-10 ml-sm-auto pl-3 pr-0 position-fixed">
      <div class="chat">
        <channel-window></channel-window>
      </div>
      <div class="py-3 pr-3">
        <channel-input></channel-input>
      </div>
    </main>
  </div>
</div>
